.sessions {

    &HeaderWrapper {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        align-items: center;
        justify-items: center;
    }

    &Names {
        color: var(--non-active, #AEB6CE);
        text-align: center;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 16.8px */
        letter-spacing: 0.42px;
        margin: 0;
    }

    &Button {
        display: inline-flex;
        justify-content: center;
        padding: 14px 23px;
        flex-direction: column;
        align-items: center;
        border-radius: 12px;
        background: linear-gradient(180deg, #FA9C59 0%, #FD7043 100%);
        outline: none;
        border: none;
        cursor: pointer;
        min-height: 45px;
        margin: 10px;

        color: var(--white, #FFF);
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 16.8px */
    }

    &ItemsWrapper {
        display: flex;
        flex-direction: column;
        max-height: calc(50vh - 100px);
        overflow: auto;
        padding: 5px;
        gap: 5px;
    }

    &Items {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        align-items: center;
        justify-items: center;
        border-radius: 15px;
        border: 1px solid rgba(60, 59, 101, 0.20);
        background: var(--white, #FFF);
    }

    &ItemsText {
        color: var(--txt, #3C3B65);
        text-align: center;
        font-kerning: none;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 16.8px */
    }

    &ItemButton {
        display: inline-flex;
        justify-content: center;
        padding: 12px 10px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        background: inherit;
        margin: 10px;
        max-height: 50px;

        border-radius: 12px;
        border: 1px solid var(--accent, #FF9A51);
        color: var(--accent, #FF9A51);
        text-align: center;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 16.8px */
        cursor: pointer;
    }

    &ItemButtonText {
        margin: 0;
    }


}