.dayMonitor {
    display: flex;
    justify-content: center;
    align-items: center;

    &ProcessBarFirstElement {
        //position: absolute;
    }

    &ProcessBarElement {
        position: absolute;
        margin-right: -10px;
        margin-top: 8px;
    }

    &ProcessBar {
        position: absolute;
        margin-left: -30px;
    }

    &ProcessBarNumberWrapper {
        position: absolute;
        margin-top: 10px;
        margin-right: -10px;
    }

    &ProcessBarNumber {
        position: absolute;
        color: var(--ffffff, #FFF);
        text-align: center;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}