@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.aside {
    border-radius: 0 40px 0 0;
    background: linear-gradient(180deg, #FA9C59 0%, #FD7043 100%);
    height: 100%;

    &LogoWrapper {
        display: flex;
        padding: 20px;
        align-items: center;
        justify-content: flex-start;
    }

    &TextLogo {
        font-family: 'Montserrat';
        color: var(--white, #FFF);
        font-kerning: none;
        font-size: 34px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 40.8px */
        margin-left: 7px;
    }

    &ListWrapper {
        //padding: 20px;
    }

    &List {
        display: flex;
        align-items: center;
        outline: none;
        border: none;
        background: inherit;
        cursor: pointer;
        width: 100%;
    }

    &ListSvg {
        margin-left: 15px;
    }

    &List:hover {
        //opacity: 0.699999988079071;
        background: linear-gradient(90deg, #D46641 0%, rgba(212, 102, 65, 0.00) 100%);
    }

    &ListText {
        color: var(--white, #FFF);
        font-family: 'Montserrat';
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 18px */
        margin-left: 10px;
    }

    &Button{
        border-radius: 12px;
        font-family: 'Montserrat';
        border: 1px solid var(--white, #FFF);
        width: 80%;
        height: 45px;
        outline: none;
        background: center;
        color: #FFFFFF;
        margin: 50% 0 0 9%;
        cursor: pointer;
    }
}