@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.mainHomePage {
    height: 100vh;
    margin: -8px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #F5F7FB 0%, #F5F7FB 0.01%, #EDEFF5 100%);

    &Wrapper {
        display: flex;
        width: 100%;
        height: 100%;
    }

    &LeftContainer {
        width: 22%;
        height: 100%;
    }

    &RightContainer {
        width: 78%;
        padding: 15px;
    }

    &MiddleContainer {
        display: flex;
        gap: 17px;
        margin-top: 30px;
        margin-bottom: 30px;
        align-items: center;
    }

    &MiddleContent {
        width: 49%;
        flex-shrink: 0;

        border-radius: 15px;
        background: var(--white, #FFF);
        box-shadow: 0 0 10px 0 rgba(174, 174, 192, 0.20);
    }

    &ContentTextContainer {
        display: flex;
        width: 32%;
    }

    &Content {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    &ContentTextWrapper {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

    &ContentTextWrapperActive {
        display: flex;
        align-items: center;
        margin-right: 10px;
        border-bottom: 2px solid var(--accent, #1DA0FF);
    }

    &ContentTextWrapperImage {
        margin-left: 5px;
        margin-right: 5px;
    }

    &ContentText {
        color: var(--txt, #3C3B65);
        font-kerning: none;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 16.8px */
        margin: 0;
        min-width: 135px;
    }

    &ContentTextSelect {
        color: var(--accent, #1DA0FF);
        font-kerning: none;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 16.8px */
        margin: 0;
        min-width: 135px;
    }

    &ContentHeader {
        color: var(--title, #191D3E);
        text-align: center;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 24px */
        margin: 0;
    }

    &ContentLine {
        width: 100%;
        height: 1px;
        opacity: 0.10000000149011612;
        background: var(--title, #191D3E);
    }

    &Footer {
        height: 5vh;
        background: #0A0C21;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &FooterText {
        color: var(--white, #FFF);
        text-align: center;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 19.6px */
        opacity: 0.699999988079071;
    }
}

