.header {
    display: flex;
    justify-content: space-between;
    padding: 11px;
    border-radius: 15px;
    background: var(--white, #FFF);
    box-shadow: 0 0 15px 0 rgba(174, 174, 192, 0.20);
    flex-wrap: wrap;

    &ButtonWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    &Button{
        color: var(--txt, #3C3B65);
        font-kerning: none;
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 18px */
        opacity: 0.5;
        background: inherit;
        border: none;
        outline: none;
        cursor: pointer;
    }

    &RightContent {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 35px;
    }

    &Toggle{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 25px;
        flex-shrink: 0;
        border-radius: 20px;
        background: inherit;
        border: #D46641 1px solid;
        outline: none;
        cursor: pointer;
    }

    &ToggleSvg {
        rect {
            //fill: var(--white, #FFF);
        }
    }

    &LanguageWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    &Language {
        color: var(--txt, #3C3B65);
        font-kerning: none;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 16.8px */
    }

    &LoginButton {
        display: inline-flex;
        padding: 14px 17px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        background: inherit;
        border-radius: 12px;
        border: 1px solid var(--accent, #FF9A51);
        cursor: pointer;

        color: var(--accent, #FF9A51);
        text-align: center;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 16.8px */
    }
}