.middleRightBlock {
    display: flex;
    //flex-direction: column;
    padding: 15px 20px;
    gap: 15px;

    &TextWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &TextContainer {
        display: flex;
    }

    &Header {
        color: var(--title, #191D3E);
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 21.6px */
        margin: 0 0 10px 0;
    }

    &Text {
        color: var(--txt, #3C3B65);
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 19.6px */
        margin: 0;
        opacity: 0.699999988079071;
    }

    &Number {
        font-family: Montserrat;
        font-size: 14px;
        color: var(--txt, #3C3B65);
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
    }

}