.userSetting {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    gap: 15px;

    &Header{
        color: var(--title, #191D3E);
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 21.6px */
        margin: 0;
    }

    &InputsWrapper {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    &InputContainer {
        display: flex;
        flex-direction: column;
    }

    &InputText {
        color: var(--txt, #3C3B65);
        font-kerning: none;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 16.8px */
        margin: 0;
    }

    &InputWrap{
        display: flex;
        align-items: center;
        border-radius: 10px;
        border: 1px solid rgba(60, 59, 101, 0.20);
        background: #FFF;
        padding: 10px;
    }

    &InputWrap:focus-within {
        border: 1px solid #D46641;
    }

    &Input {
        border: none;
        outline: none;
        font-family: 'Montserrat';
        color: var(--txt, #3C3B65);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 19.6px */
        caret-color: #D46641;
        max-width: 115px;
    }

    &ToggleSettingsWrapper {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &Toggle{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 25px;
        flex-shrink: 0;
        border-radius: 20px;
        background: inherit;
        border: #D46641 1px solid;
        outline: none;
        cursor: pointer;
    }

    &ToggleSvg {
        rect {
            //fill: var(--white, #FFF);
        }
    }

    &ToggleSettingsText {
        color: var(--txt, #3C3B65);
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 16.8px */
        margin: 0;
    }
}